table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button[name="listar_contatos"] {
  background-color: #2271B1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button[name="listar_contatos"]:hover {
  background-color: #185379;
}
